main {
    width: 100%;
    height: 100%;
    background: var(--background);
    padding: 5rem 0 .625rem 0;
}

main h3 {
    margin: .3125rem 0 1.875rem 1.75rem;
    color: var(--white);
}

main .container {
    display: block;
}

main .container .row {
    margin: .5rem 0;
}

main .container .row, .row > .column {
    padding: .5rem;
}

main .container .column {
    float: left;
    width: 25%;
}

main .container .row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    main .container .column {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    main .container .column {
        width: 100%;
    }
}


main .container .item {
    background: var(--blue-card);
    width: 85%;
    margin: auto;
    height: 100%;
    border-radius: 0 1.25rem;
    margin-bottom: 3.75rem;
    box-shadow: .3125rem .3125rem .5rem rgba(0, 0, 0, .6);
}

main .container .item img {
    width: 100%;
    border-radius: 0 1.25rem 0 0;
    height: 9.375rem;
}

main .container .item .area_texto {
    padding: .5rem 1.25rem .9375rem .9375rem;
    color: rgba(255, 255, 255, .8);
    line-height: 1.6;
}

main .container .item .area_texto p {
    margin-top: .3125rem;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    main {
        background: var(--orange-escuro);
    }

    main .container .item {
        background: var(--card-escuro);
    }
}
