main .container {
    width: 100%;
    display: block;
    height: 100%;
    background: var(--bright-coral);
    padding: 80px 0 10px 0;
}

main .container h3 {
    margin: 5px 0 30px 28px;
}

main .container .item {
    background: var(--aqua-marine);
    width: 85%;
    height: 100%;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
    border-radius: 0 20px 20px 20px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, .8);
}

main .container .item .lista-link {
    padding: 0 10px 10px 10px;
    height: 100%;
    width: 100%;
}

main .container .item .lista-link li {
    margin: 0 0 15px 15px;
}

main .container .item .lista-link p {
    text-align: center;
    margin: 25px 0 20px 0;
    line-height: 1.6;
}

main .container .item .button_link, .button_mais, .button_menos, .links, .mais, .menos {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--blue);
    background: var(--transparent);
    color: var(--blue);
    font: bold 11pt Arial;
}

main .container .item .button_link:hover {
    box-shadow: 0 .5em .5em -.4em var(--blue);
    transform: translateY(-.25em);
}

main .container .item .button_link .link {
    color: var(--blue);
}

main .container .item .button_link .link:hover {
    color: var(--white);
}

main .container .item .button_mais, .button_menos, .mais, .menos {
    display: flex;
    margin: auto;
    border: 1px solid var(--purple);
    color: var(--purple);
    margin-top: 15px;
}

main .container .item .button_mais:hover, .button_menos:hover, .mais:hover, .menos:hover {
    color: var(--white);
    box-shadow: 0 .5em .5em -.4em var(--purple);
    transform: translateY(-.25em);
}

main .container .item .lista-link .parte-lista, .button_menos, .fundo-links, .continuacao, .menos {
    display: none;
}


main .container .fundo-links {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

main .container .fundo-links .container-links {
    background: rgba(255, 255, 255, .9);
    width: 85%;
    border-radius: 8px;
    margin: auto;
    padding: 20px 10px 15px 10px;
    margin-top: 30vh;
    color: var(--grey);
    text-align: center;
}

main .container .fundo-links .container-links .buttons_links {
    width: 100%;
    margin: 40px 0 30px 0;
    display: flex;
    justify-content: space-evenly;
}

main .container .fundo-links .container-links .buttons_links .links {
    border: 1px solid var(--orange);
    color: var(--orange);
}

main .container .fundo-links .container-links .buttons_links .links:hover {
    color: var(--white);
    box-shadow: 0 .5em .5em -.4em var(--orange);
    transform: translateY(-.25em);
}

main .container .fundo-links .container-links .fas {
    color: var(--purple);
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 0 15px;
}

main .topo {
    position: fixed;
    background: orange;
    display: none;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    right: 15px;
    bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

main .topo .icon-top {
    width: 20px;
    color: purple;
    margin: auto;
}

main .topo .icon-top:hover {
    margin-top: 12px;
}


@media screen and (min-width: 601px) {
    main .container .item {
	width: 80%;
    }
				
    main .container .fundo-links .container-links {
	width: 60%;
    }
}

@media screen and (min-width: 901px) {
    main .container .item {
	width: 50%;
        padding: 20px;
    }

    main .container .fundo-links .container-links {
	width: 40%;
								margin-top: 8vh;
    }
}

@media screen and (orientation: landscape) {
    main .container .fundo-links .container-links {
	margin-top: 16vh;
    }
}


/* Modo Escuro */
@media (prefers-color-scheme: dark) {
    main .container {
        background: var(--coral-escuro);
    }

    main .container .item {
        background: var(--aqua-escuro);
    }

    main .container .item .button_link {
        border-color: var(--sky-blue);
        color: var(--sky-blue);
    }

    main .container .item .button_link:hover {
        color: var(--white);
        box-shadow: 0 .5em .5em -.4em var(--sky-blue);
        transform: translateY(-.25em);
    }

    main .container .item .button_mais, .button_menos, .mais, .menos {
        border-color: var(--purple-claro);
        color: var(--purple-claro);
    }

    main .container .item .button_mais:hover, .button_menos:hover, .mais:hover, .menos:hover {
        color: var(--white);
        box-shadow: 0 .5em .5em -.4em var(--purple-claro);
        transform: translateY(-.25em);
    }

    main .container .fundo-links .container-links {
        background: var(--footer);
        color: var(--white);
    }

    main .container .fundo-links .container-links .fas {
        color: var(--purple-claro);
    }
}
