main .container {
    background-image: url("../imagens/imagem_fundo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 60px;
    width: 100%;
    height: 100%;
    padding: 10px 10px 22px 10px;
}

main .container .informacoes {
    background: rgba(138, 138, 138, .8);
    width: 95%;
    margin: auto;
    border-radius: 15px 0;
    margin-top: 75px;
    padding: 10px 10px 20px 10px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .3);
}

main .container .informacoes .foto {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: auto;
    padding: 10px;
}

main .container .informacoes h3 {
    background: linear-gradient(.2turn, var(--gradiente), var(--gradientes));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--transparent);
}

main .container .informacoes p {
    margin-top: 12px;
    line-height: 1.6;
}

main .redes {
    width: 100%;
    padding: 25px 0 15px 0;
    text-align: center;
    color: var(--black);
    background: rgba(138, 138, 138, .6);
    border-bottom: 1px dashed var(--red);
}

main .redes .buttons {
    margin: auto;
    margin: 33px 0 25px 0;
}

main .redes .buttons .btn_github, .btn_linkedin, .cv {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--black);
    font: bold 12pt Arial;
    color: var(--black);
}

main .redes .buttons .btn_linkedin {
    color: var(--blue-linkedin);
    border: 1px solid var(--blue-linkedin);
    margin-left: 25px;
}

main .redes .buttons .btn_github:hover, .btn_linkedin:hover {
    background: var(--black);
    color: var(--white);
    border: 1.5px solid var(--white);
}

main .redes .buttons .btn_linkedin:hover {
    background: var(--blue-linkedin);
    color: var(--white);
    border: 1.5px solid var(--white);
}


main .curriculo {
    background: rgba(138, 138, 138, .4);
    color: var(--footer);
    padding: 15px 0 35px 0;
    width: 100%;
}

main .curriculo h4 {
    margin: 10px 0 25px 0;
    text-align: center;
}

main .curriculo .buttons-cv {
    display: flex;
    justify-content: center;
}

main .curriculo .buttons-cv p {
    margin: 10px 20px;
    font-weight: bold;
}

main .curriculo .buttons-cv .cv {
    color: var(--purple);
    border: 1px solid var(--purple);
}

main .curriculo .buttons-cv .cv:hover {
    color: var(--white);
    background: var(--purple);
}

@media screen and (min-width: 601px) {
    main .container {
        background-image: url("../imagens/fundo_imagem.png");
    }

    main .container .informacoes {
        width: 400px;
    }
}


@media (prefers-color-scheme: dark) {
    main .container {
        background-image: url("../imagens/img-dark.png");
    }

    main .redes {
        color: var(--white);
        background: var(--grey);
        border-bottom: 1px dashed var(--orange-red);
    }

    main .redes .buttons .btn_linkedin {
        color: var(--blue-claro);
        border-color: var(--blue-claro);
    }

    main .redes .buttons .btn_linkedin:hover {
        background: var(--blue-claro);
        color: var(--white);
    }

    main .curriculo {
        background: rgba(138, 138, 138, .8);
        color: var(--white);
    }

    main .curriculo .buttons-cv .cv {
        color: var(--purple-claro);
        border-color: var(--purple-claro);
    }

    main .curriculo .buttons-cv .cv:hover {
        color: var(--white);
        background: var(--purple-claro);
    }
}
