main .container {
    background-image: url("../imagens/imagem_fundo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 60px;
    width: 100%;
    height: 100%;
    padding: .625rem .625rem 1.375rem .625rem;
}

main .container .informacoes {
    background: rgba(138, 138, 138, .8);
    width: 95%;
    margin: auto;
    border-radius: .9375rem 0;
    margin-top: 4.6875rem;
    padding: .625rem .625rem 1.25rem .625rem;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    box-shadow: .3125rem .3125rem .5rem rgba(0, 0, 0, .3);
}

main .container .informacoes .foto {
    display: block;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 6.25rem;
    margin: auto;
    padding: .625rem;
}

main .container .informacoes h3 {
    background: linear-gradient(.2turn, var(--gradiente), var(--gradientes));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--transparent);
}

main .container .informacoes p {
    margin-top: .75rem;
    line-height: 1.6;
}

main .redes {
    width: 100%;
    padding: 1.5625rem 0 .9375rem 0;
    text-align: center;
    color: var(--black);
    background: rgba(138, 138, 138, .6);
    border-bottom: .0625rem dashed var(--red);
}

main .redes .buttons {
    margin: 2.0625rem 0 1.5625rem 0;
    display: flex;
    justify-content: center;
}

main .redes .buttons .btn_github, .btn_linkedin, .cv {
    padding: .625rem;
    border-radius: .5rem;
    border: .0625rem solid var(--black);
    font: bold 12pt Arial;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .redes .buttons .btn_github .iconGithub, .iconLinkedin, .iconEye, .iconDownload {
    height: 18px;
    margin-right: 7px;
}

main .redes .buttons .btn_linkedin {
    color: var(--blue-linkedin);
    border: .0625rem solid var(--blue-linkedin);
    margin-left: 1.5625rem;
}

main .redes .buttons .btn_github:hover, .btn_linkedin:hover {
    background: var(--black);
    color: var(--white);
    border: .09375rem solid var(--white);
}

main .redes .buttons .btn_linkedin:hover {
    background: var(--blue-linkedin);
    color: var(--white);
    border: .09375rem solid var(--white);
}


main .curriculo {
    background: rgba(138, 138, 138, .4);
    color: var(--footer);
    padding: .9375rem 0 2.1875rem 0;
    width: 100%;
}

main .curriculo h4 {
    margin: .625rem 0 1.5625rem 0;
    text-align: center;
}

main .curriculo .buttons-cv {
    display: flex;
    justify-content: center;
}

main .curriculo .buttons-cv p {
    margin: .625rem 1.25rem;
    font-weight: bold;
}

main .curriculo .buttons-cv .cv {
    background: var(--transparent);
    border: .0625rem solid var(--purple);
}

main .curriculo .buttons-cv .cv .link {
    cursor: default;
}

main .curriculo .buttons-cv .cv, .link {
    color: var(--purple);
    display: flex;
    align-items: center;
}

main .curriculo .buttons-cv .cv:hover {
    box-shadow: 0 .5em .5em -.4em var(--purple);
    transform: translateY(-.25em);
}


.btn_informacoes {
    background: var(--orange);
    position: fixed;
    right: .9375rem;
    bottom: 1.5625rem;
    width: 3.75rem;
    height: 3.75rem;
    animation: float 3s ease-in-out infinite;
    border-radius: 3.75rem;
    border: .125rem solid var(--black);
}

.btn_informacoes .img_info {
    height: 1.875rem;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5625rem);
    }
    100% {
        transform: translateY(0);
    }
}

.modal_informacoes {
    display: none;
    background: var(--white);
    width: 85%;
    border: .125rem solid var(--black);
    padding: .625rem 1.125rem 2.1875rem 1.125rem;
    border-radius: 0 1.25rem;
    box-shadow: .3125rem .3125rem .5rem rgba(0, 0, 0, .6);
    position: fixed;
    right: .9375rem;
    bottom: 1.5625rem;
}

.modal_informacoes .fechar_modal {
    display: flex;
    justify-content: flex-end;
}

.modal_informacoes .fechar_modal img {
    height: 1.875rem;
}

.modal_informacoes .scroll {
    margin: .9375rem 0;
    overflow: scroll;
    height: 14.375rem;
    overflow-x: hidden;
    padding: 0 .625rem;
    text-align: center;
}

.modal_informacoes .scroll::-webkit-scrollbar {
    width: .5rem;
}

.modal_informacoes .scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .3125rem var(--black);
    border-radius: .625rem;
}

.modal_informacoes .scroll::-webkit-scrollbar-thumb {
    background: var(--brown);
    border-radius: .625rem;
}

.modal_informacoes .scroll .info .paragrafo2 {
    margin-top: 1.25rem;
}

.modal_informacoes .scroll .info, .linguagens, .ferramentas {
    padding: 1.25rem 0;
}

.modal_informacoes .scroll .linguagens, .ferramentas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.modal_informacoes .scroll .linguagens .html5, .css3, .js, .python, .git, .vscode {
    height: 1.75rem;
}

/*.modal_informacoes .scroll .linguagens .html5 {
    color: var(--orange-html);
}

.modal_informacoes .scroll .linguagens .css3 {
    color: var(--blue-css);
}

.modal_informacoes .scroll .linguagens .js {
    color: var(--yellow-js);
}

.modal_informacoes .scroll .linguagens .python {
    color: var(--blue-python);
}

.modal_informacoes .scroll .ferramentas .git {
    color: var(--orange-red);
}*/


.modal_informacoes .scroll .linguagens #icon:hover, .ferramentas #icon:hover {
    animation: efeito 3s ease-in infinite alternate;
}

@keyframes efeito {
    0% {
        transform: rotate(25deg);
    }
    50% {
        transform:scale(120%);
    }
    100% {
        transform: rotate(-25deg);
    }
}


@media screen and (min-width: 601px) {
    main .container {
        background-image: url("../imagens/fundo_imagem.png");
    }

    main .container .informacoes {
        width: 25rem;
        background: rgba(51, 51, 51, .9);
    }

    main .curriculo .buttons-cv .cv {
        cursor: pointer;
    }

    main .curriculo .buttons-cv .cv .link, .btn_informacoes, .img_info {
        cursor: pointer;
    }
    
    .modal_informacoes {
        width: 21.875rem;
    }

    .modal_informacoes .scroll .linguagens .html5, .css3, .js, .git {
        margin-right: .9375rem;
    }
}


@media (prefers-color-scheme: dark) {
    main .container {
        background-image: url("../imagens/img-dark.png");
    }

    main .container .informacoes {
        background: rgba(42, 39, 39, .8);
    }
    
    main .container .informacoes h3 {
        background: linear-gradient(.2turn, var(--aqua-marine), var(--yellow));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--transparent);
    }

    main .redes {
        color: var(--black);
        background: var(--grey);
        border-bottom: .0625rem dashed var(--orange-red);
    }

    main .redes .buttons .btn_linkedin {
        color: var(--blue-claro);
        border-color: var(--blue-claro);
    }

    main .redes .buttons .btn_linkedin:hover {
        background: var(--blue-claro);
        color: var(--white);
    }

    main .curriculo {
        background: rgba(138, 138, 138, .8);
        color: var(--black);
    }

    main .curriculo .buttons-cv .cv {
        color: var(--purple-claro);
        border-color: var(--purple-claro);
    }

    main .curriculo .buttons-cv .cv:hover {
        color: var(--white);
        box-shadow: 0 .5em .5em -.4em var(--purple-claro);
    }

    main .curriculo .buttons-cv p {
        color: var(--black);
    }

    .btn_informacoes {
        background: var(--orange-escuro);
        border-color: var(--white);
    }

    .modal_informacoes {
        background: var(--footer);
        border-color: var(--white);
        box-shadow: .3125rem .3125rem .5rem rgba(255, 255, 255, .6);
    }

    .modal_informacoes .scroll h3, p {
        color: rgba(255, 255, 255, .8);
    }

    .modal_informacoes .scroll::-webkit-scrollbar-thumb {
        background: var(--brown-claro);
    }
}


@media (prefers-color-scheme: dark) and (min-width: 601px) {
    main .container {
        background-image: url("../imagens/fundo-dark.png");
    }
}


@media screen and (orientation: landscape) and (max-width: 600px) {
    .modal_informacoes {
        width: 65%;
    }

    .modal_informacoes .scroll {
        height: 9.625rem;
    }
}
